@mixin flex-cen(){
    display:flex;
    justify-content: center;
    align-items: center;
}


$pri-gold:#DCB85F;
$pri-gold-mid-dark:#BD9E51;
$pri-gold-mid-light:#F0C967;
$pri-gold-dark:#706852;
$pri-gold-light:#F2E0B1;


body{
    font-family: 'Montserrat', sans-serif!important;
}

// GENERAL STYLING
button,.btn{
    outline: none!important;
}

button:active,.btn:active{
    border:none!important;
}



.card{
    border:none!important;
    .card-body{
        padding: 0;
      .card-title{
          font-weight: 600;
      }
      button{
          background-color: #000;
          border:none;
      }
    }
}


.one-toronto-section-div{
    padding:30px 0; 
    margin:0;
    .container{
        h1{
            margin: 0;
        }
    }
}

.social-link{
    height: 35px;
    width: 35px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}



.site-main{
    min-height: 100vh;
}



.view-product{
    border:2px solid #fff;
    padding:12px;
    color:#fff;
}

.nav-link{
    font-weight: 600;
    color: #000!important;
}

.nav-link:hover{
    font-weight: 500;
    color: #333!important;
}

.woocommerce-result-count,.woocommerce-ordering{
    max-width: 45%;
    margin-left: auto;
    display:block;
}
.view-product:hover{
    background-color: #000;
    color:#fff;
}

.page-content{
    min-height: 620.712px!important;
}
.hide{
    display: none!important;
}

.hidden{
    visibility: hidden!important;
}

.show{
    display:block!important;
}

.openNav{
    transform: transform .35s ease 0s !important;
    transform: translate3d(0,0,0)!important;
    visibility: visible!important;
}
.woocommerce-result-count {
    padding-right: 0!important;
    font-size: 1rem!important;
}

.btn{
    background-color: #EBA059!important;
}

.active,a:focus,.hdr-phone [class*="icon"]{
    color: #EBA059!important;
}

// SECTION STYLING

.mobile-nav-links-con{
    position: fixed;
    top: 0 !important;
    right: 0;
    left: 0;
    z-index: 1008;
    .transitionElement{
        transition: transform .35s ease 0s;
        transform: translate3d(0,0,0);
    }
    .removetransitionElement{
        transition: transform .35s ease .1s;
        transform: translate3d(-110%,0,0); 
    }
    .overlay-mobile-nav{
        width: 100vw;
        height: 100vh;
        background:rgba(0,0,0,.6);
        position: fixed;
        top: 0 !important;
        right: 0;
        left: 0;
        z-index: 1008;
        opacity: .6;
    }
    nav{
       
    position: absolute;
    top: 0 !important;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 80%;
    height: 100vh;
    padding: 24px;
    background-color: #fff;
    z-index: 1009;
    transition: transform .35s ease .1s;
    transform: translate3d(-110%,0,0);  
        ul{
            padding: 0!important;
            padding-top: 16px;
            li{
                list-style: none;
                margin-top:16px;
                a{
                    font-size: 17px;
                    line-height: 25px;
                    display: block;
                    padding: 5px 0;
                    cursor: pointer;
                    text-decoration: none;
                    color: #282828;
                    background: 0 0;
                    -ms-flex: 1;
                    flex: 1;
                }
                a:focus{
                    color: #EBA059;
                    font-weight: 600;
                }
            }
        }
        .close-toggle{
            cursor: pointer;
            font-weight: 600;
            z-index: 1009;
            margin-bottom: 36px;
        }
    }
}

#home{
    width: 100%;
    padding-bottom: 0;
    .page-content{
            .container-fluid{
                max-width: 1200px!important;
                .product-grid-con{
                    justify-items: center!important;
                    .prod-column{
                        max-width: 600px!important;
                        margin-top: 24px;
                        .prd-info{
                           padding-top: 24px;
                            .prd-title {
                                font-size: 20px;
                                max-width: none;
                                color: #282828;
                                line-height: 24px;             
                            }
                            .prd-rating {
                                font-size: 14px;
                                min-height: 20px;
                                margin-top: 7px;
                            }
                            .prd-price, .price-new {
                                font-size: 20px;
                                line-height: 34px;
                                margin-top: 4px!important;
                            }
                            .btn{
                                margin-top: 16px!important;
                            }
                        }
                      
                    }
                }
            }
    }
}

// SECTION STORE
section#store{
    #home-title{
        margin: 4em auto;
        margin-top: 5em;
        margin-bottom: 3em;
        width: 90%;
        @include flex-cen();
        flex-direction: column;
        text-align: center;
        
        span{
            letter-spacing: 32px;
            color:White;
            text-align: center;
            font-size: 1rem;
           
        }
        .toronto{
            font-weight: 700;
            font-size: 1.5rem;
            margin-top: 20px;
        }
    }
    
    #home-shooping{
        .product{
            // .image-con{
            //     max-width: 400px;
            // }
            .btn{
                background-color:#212529;
                border-radius: 4em;
                color:White!important;
                font-size: 12px;
            }
        }
    }
    
}
section.community{
   
    grid{
        display: grid;
        gap:0;

    }
}

.photo-preview{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 900000;
    .overlay{
        height: 100%;
        width: 100vw;
        background: rgba($color: #f9f9f9, $alpha: .6);
    }
    .container{
        max-width: 9000px;
        height: 100%;
        width: 100%;
        position:absolute;
        z-index: 5;
        top: 0;
     
        .preview{
            height: 100%;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            align-self: center;
            background-size: cover;
            background-position: center;
            
        }
        button{
            position: absolute;
        }
    }
}

footer{
    margin-top: 24px;
}

//Woo Commerce Styling 

.woocommerce-product-gallery{
    opacity: 100%!important;
}


// Contact Form Styling

#wpcf7-f46-o1 {
    p{
        label{
            width: 100%!important;
            display: block;
            max-width: auto;
            width: 999px;
           span{
            width: 100%!important;
            display: block;
            max-width: auto;
            width: 999px;
            width: 999px;
            input{
                width: 100%!important;
                outline: none;
                height: 40px;
                margin-top: 16px;
            }
            textarea{
                width: 100%!important;
                outline: none;
                margin-top: 16px;
            }
           }
        }
        
    }
}

td{
    padding: 2rem 1rem!important;
}

.product-thumbnail{
    a{
        img{
            width: 100px!important;
        }
    }
}



.orderby{
    padding: 8px 45px 8px 20px;
    border: 1px solid #eaeaea;
    color: #b5b5b5;
    background: transparent;
    vertical-align: bottom;
}



.woocommerce-result-count{
    padding: 8px 45px 8px 20px;
    color: #b5b5b5;
    font-size: 1.2rem;
}



.woocommerce-loop-product__title{
    color:#555!important;
    font-size: 1.2rem!important;
}

.price{
    font-size: 1.2rem!important;
    color:#666!important;
}

.post-type-archive-product{
    .container{
        .page-title{
           display: none;
        }
        .attachment-woocommerce_thumbnail, .size-woocommerce_thumbnail{
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }
        .add_to_cart_button, .button{
            background-color: #000!important;
            color:#f9f9f9;
            padding:20px;
        }
        // margin:0!important;
        // padding:0!important;
        // width: 100%;
        // max-width: auto;
    }
}
  

a{
    text-decoration:none !important;
    font-size: inherit;
}


input,textarea,select{
    border:none!important;
    padding:1rem 10px!important;
    background-color: #F2F2F2!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}



.checkout-button {
    background-color: $pri-gold !important;
}



.related{
    padding:60px 0 !important ;
    h2{
        font-size: 1.5rem;
        color:#666 !important;
    }
}

.woocommerce-Reviews-title, .product-title, .entry-title{
    font-size: 1.5rem;
    color:#222 !important;
}       

.single_add_to_cart_button {
    height: 55px;
    background-color:#000!important;
    width: 80%!important;
}



// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px){
    .woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
        width: 100%!important;
        float: none;
        margin: 0 0 2.992em;
    }
    .front-page-btn-add-to-cart{
        display:none;
    }
}

@media (min-width: 576px) { 
        
    #home{
        .container{
            .row{
                
             .bg-white{
                 .one{
                    text-align: center;
                    font-size:2rem;
                    text-transform: uppercase;
                    letter-spacing: 2rem;
                    font-weight: 700;
                    font-weight: 700;
                 }
                 .toronto{
                    font-size: 4rem;
                    letter-spacing: 2rem;
                    font-weight: 700;
                 }
                 .fanlink{
                  
                 }
             }
             .bg-gold{
                
                 .product{
                     max-width: 400px;
                 }
                 .latest-product{
                     letter-spacing: 2rem;
                     font-size: 1.2rem;
                     margin-bottom: 1.2rem;
                 }
             }
            }
        }
     }

    
 }
 
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #home{
        .container{
            .row{
              
             .bg-white{
                 .one{
                    text-align: center;
                    font-size:2rem;
                    text-transform: uppercase;
                    letter-spacing: 2rem;
                    font-weight: 700;
                    font-weight: 700;
                 }
                 .toronto{
                    font-size: 4rem;
                    letter-spacing: 2rem;
                    font-weight: 700;
                 }
                 .fanlink{
                  
                 }
             }
             .bg-gold{
                
                 .product{
                     max-width: 400px;
                 }
                 .latest-product{
                     letter-spacing: 2rem;
                     font-size: 1.2rem;
                     margin-bottom: 1.2rem;
                 }
             }
            }
        }
     }
     .front-page-btn-add-to-cart{
         display: block;
     }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #home{
        padding-top: 0;
        position: static;
        margin-top: 10px;
        .container{
            .row{
            gap: 40px;
             .bg-white{
                 padding: 0;
                 min-height: 800px;
                 .one{
                    text-align: center;
                    font-size:2rem;
                    text-transform: uppercase;
                    letter-spacing: 2rem;
                    font-weight: 700;
                    font-weight: 700;
                 }
                 .toronto{
                    font-size: 4rem;
                    letter-spacing: 2rem;
                    font-weight: 700;
                 }
                 .fanlink{
                  
                 }
             }
             .bg-gold{
                margin-top:0;
                max-width: 45%;
                 .product{
                     max-width: 400px;
                 }
                 .latest-product{
                     letter-spacing: 2rem;
                     font-size: 1.5rem;
                     margin-bottom: 1.2rem;
                     
                 }
             }
            }
        }
     }
    
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #home{
        .container{
            .row{
                min-height: 80vh;
             .bg-white{
                 .one{
                    text-align: center;
                    font-size:2rem;
                    text-transform: uppercase;
                    letter-spacing: 2rem;
                    font-weight: 700;
                    font-weight: 700;
                 }
                 .toronto{
                    font-size: 5rem;
                    letter-spacing: 2rem;
                    font-weight: 700;
                 }
                 .fanlink{
                  
                 }
             }
             .bg-gold{
                
                 .product{
                     max-width: 400px;
                     margin-top:30px;
                 }
                 .latest-product{
                     letter-spacing: 2rem;
                     font-size: 1.2rem;
                     margin-bottom: 1.2rem;
                 }
             }
            }
        }
     }
  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
